{:paths ["src" "test"]
 :deps {metosin/malli {:mvn/version "0.16.4"}}
 :tasks
 {test {:doc "Run ClojureScript tests via shadow-cljs"
        :task (shell "pnpm dlx shadow-cljs@3.4.11 compile test")}}}
