{:source-paths
 ["src" "test"]

 :dependencies
 [[org.clojure/core.async "1.6.681"]
  [metosin/malli "0.16.4"]]

 :builds
 {  :plugin
  {:target :node-script
   :main bitch-tracker.plugin/main!
   :output-to "build/BitchTracker.raw.js"
   :compiler-options
   {:infer-externs :auto}}

  :bot
  {:target :node-script
   :main bitch-tracker.bot.main/main!
   :output-to "build/bitch-tracker-bot.js"
   :compiler-options
   {:infer-externs :auto}}

  :test
  {:target :node-test
   :output-to "build/node-tests.js"
   :ns-regexp "-test$"
   :autorun true
   :compiler-options
   {:infer-externs :auto}}}}
